[submodule "submodules/websocket-cpp"]
	path = submodules/websocket-cpp
	url = https://github.com/mojyack/websocket-cpp.git
[submodule "submodules/crypto-utils"]
	path = submodules/crypto-utils
	url = https://github.com/mojyack/crypto-utils.git
